@using Entity_Layer.Concrete
@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (Session["Role"] != null && Session["Role"].ToString().ToLower() == "admin")
{
    @Html.Action("UserPartial", "User")
}

    <br />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Role</th>
                <th>Mail</th>
                <th>Management</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(x => x.UserStatus == true))
            {
                <tr>
                    <td>@item.UserId</td>
                    <td>@item.UserName</td>
                    <td>@item.UserRole</td>
                    <td>@item.UserMail</td>

                    @if (Session["Role"] != null && Session["Role"].ToString().ToLower() == "admin")
                    {

                        <td>
                            <a class="btn btn-danger btn-sm" href="@Url.Action("UserDelete", "User", new { id = item.UserId })">
                                <i class="fas fa-trash"> Delete </i>
                            </a>

                            <a class="btn btn-warning btn-sm" href="@Url.Action("EditUser", "User", new { id = item.UserId })">
                                <i class="fas fa-trash"> Update </i>
                            </a>
                        </td>}
                    </tr>
            }

        </tbody>
    </table>
    <br />
    @Html.PagedListPager((PagedList.IPagedList)Model, p => Url.Action("Index", new { p }), new PagedListRenderOptions
    {
        LiElementClasses = new List<string>
        { "page-link"}
    })

